
<form class="jumbotron" name="formStyle" method="POST" id="formStyle">
    <div class="form-group col-md-5">
      <label for="height" class="font-weight-bold">Enter Height</label>
      <input type="number" class="form-control" id="height" name ="height" oninput="validateHeight(this)" placeholder="Height(in meters)"  step=any required>
      
    </div>
    <div class="form-group col-md-5">
      <label for="weight" class="font-weight-bold">Enter Weight</label>
      <input type="number" class="form-control" id="weight" name="weight" oninput="validateWeight(this)" placeholder="Weight(in kgs)"  step=any  required>
  
    </div> 
    <div class="form-group col-md-2">
    <input type="submit" class="btn btn-success" value="Calculate">
  </div>
</form>

<div class="jumbotron" id="displayValue" style="display: none">
  <label class="font-weight-bold"> BMI Value : </label>
  <p id="bmiResult"></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">

  function validateHeight(input) 
  {
    var height = document.getElementById('height').value;
    if (height > 0) {
      input.setCustomValidity('');
    } else {
      input.setCustomValidity('Height must be greater than zero.');
    }
  }

  function validateWeight(input) 
  {
    var weight = document.getElementById('weight').value;
    if (weight > 0) {
      input.setCustomValidity('');
    } else {
      input.setCustomValidity('Weight must be greater than zero.');
    }
  }

  $(document).ready(function() 
  {
    $("#formStyle").submit(function (e) {

      e.preventDefault();
      $.ajax({
          url: "https://webservicebmi073.herokuapp.com/calculateBMI073",
          type: "POST",
          data: {
            "height": $("#height").val(),
            "weight": $("#weight").val()
          },
          crossDomain:true,
          success: function (result) {
            
            $("#displayValue").css("display","block");
            $("#bmiResult").html(result.bmiValue);

          }
      });
      e.preventDefault();
    });
  });
</script>



